/* CSS code fot Inter font */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* CSS code for Raleway font */

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
    font-style: normal;
}


/* set universal margin padding to Zero */

*{
    margin: 0px;
    padding: 0px;
}

body {
  background-color: #ddedfc;
}



/* Shared Styles */

.text-color-blue{
    color: #4E47FF;
}

.text-color-black1{
    color: #252432;
}

.text-color-black2{
    color: rgba(37, 36, 50, 0.5);
}

.text-color-black3{
    color: rgba(0, 0, 0, 0.5);
}

.btn-primary{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: white; 
    padding: 12px 36px;
    border: none;
    border-radius: 10px; 
}


/* header bg style (image) */

.header{
    background-image: url('../Assets/Hero-bg.png');
    height: 698px;
    margin: 0;
}


/* nav bar style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;
}


.top-logo{
    font-size: 34px;
    font-weight: 900;
}


/* banner style */

.banner-content{
    font-size: 65px;
    font-weight: bold;
    /* display: block;
    text-align: center; */
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 158px 0 0;
}


.sf-btn{
    display: block;
    margin: 37px auto 0;
}


/* main section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* action section style */

.action{
    display: flex;
    margin: 116px 0 0;
}

.action-heading{
    font-size: 42px;
    font-weight: bold;
    margin: 62.5px 0 0;
}

.action-description{
    font-size: 24px;
    font-weight: 400px;
    margin: 23px 0;
    padding-right: 220px;
}

.action-image{
    border-radius: 48px;
}


/* users section style */

.users{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin: 116px auto 0;
    padding: 50px 0;
}

.users-heading{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}

.users-data{
    display: flex;
    justify-content: space-around;
    margin: 40px 100px 0;
}

.user-data{
    text-align: center;
}

.data-heading{
    font-size: 80px;
    font-weight: bold;
}

.user-title{
    font-size: 20px;
}


/* review section style */

.reviews{
    margin: 137px 0 0;
}

.review-section-heading{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

.total-review{
    display: flex;
    margin: 50px 0 0;
    justify-content: space-around;
}

.review{
    padding: 24px;
    margin-right: 20px;
}


.review-heading{
    font-size: 24px;
    font-weight: bold;
    padding-top: 24px;
    color: rgba(30, 30, 30, 1);
}

.review-detail{
    font-size: 16px;
    /* font-weight: 600; */
    padding-top: 8px;
    color: rgba(30, 30, 30, 1);
}

.re-im-na-da{
    display: flex;
    padding-top: 24px;
}


.reviewer{
    border-radius: 50%;
    padding: 0 12px 6px 0;
}

.reviewer-name{
    font-size: 16;
    font-weight: 900px;
    color: rgba(117, 117, 117, 1);
}

.review-date{
    font-size: 16px;
    font-weight: 300;
    padding-top: 2px;
    color: rgba(179, 179, 179, 1);
}

/* focus better section */

.focus-better{
    background-color: #FFFFFF;
    margin: 137px 0 0;
    padding: 71px 0;
}

.focus-header{
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.focus-title{
    text-align: center;
    margin-top: 20px;
}

.Get-started-btn{
    display: block;
    margin: 20px auto 0;
}


.focus-image{
    display: block;
    border-radius: 48px;
    margin: 20px auto 0;
}

/* get in Touch style */

.get-in-touch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 71px 0;
}

.touch-heading{
    font-size: 97px;
    font-weight: bold;
    width: 50%;
}

/* .touch-form{
    display: flex;
    flex-direction: column;
}

label{
    display: block;
    font-size: 18px;
    font-weight: bold;
}

::placeholder{
    font-size: 20px;
    padding: 20px 379px 20px 32px;
    color: rgba(0, 0, 0, 0.5);
} */

textarea{
    resize: none;
}

label{
    font-size: 18px;
    font-weight: 500;
}

input, textarea{
    border-radius: 10px;
    background-color: white;
    display: block;
    font-size: 20px;
    padding: 20px 32px;
    width: 85%;
    margin-bottom: 19px;
    border: none;
}

.get-touch-btn{
    width: 100%;
}

